// Tang Nano 20K pins, from apicula's examples/tangnano20k.cst
IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
CLOCK_LOC "clk" BUFG;
IO_LOC  "rst_i" 88;
IO_PORT "rst_i" IO_TYPE=LVCMOS33;
IO_LOC  "tx" 69;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "rx" 70;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[0]" 15;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[1]" 16;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[2]" 17;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[3]" 18;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[4]" 19;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[5]" 20;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
